<div class="row ">
  <div class="col-12 pt-5 ">
    <h2 class="text-center">Tell us more about you </h2>
  </div>
  <form  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate >
  <div class="col-8 offset-2 card ">
      <div class="row p-3">
        <div class="col-12 border p-1 ">
          <label for="" class="pl-3 bold font-color" > FULL NAME</label>
          <input type="text" placeholder="Enter your full name" class=" col-12" name="user_full_name" [(ngModel)]="user_full_name">
        </div>
        <div class="col-12 border p-2 mt-2">
          <label for="" class="pl-3 bold font-color"> BUSINESS EMAIL</label>
          <input type="email" placeholder="Enter your full name" class=" col-12" name="user_email" [(ngModel)]="user_email">
        </div>
        <div class="col-md-6 col-12 col-6-custom border p-2 mt-2 mr-2 ">
          <label for="" class="pl-3 bold font-color col-12"> COUNTRY</label>
          <select name="" id="" placeholder="Choose your country " class="ml-1 col-8 form-control" name="company_country_id" [(ngModel)]="company_country_id">
            <option value="" selected> Choose your country </option>
            <option value="20"> Egypt</option>
            <option value="10">USA</option>
          </select>
        </div>
  
        <div class="col-md-6  col-12 col-6-custom border p-2 mt-2  input-group  ml-2  ">
  
  
          <!-- <div class=""> -->
          <div class="input-group-prepend">
            <span class="input-group-text p-4 ">+2</span>
            <div class="row">
              <label for="" class="pl-3 bold font-color col-8 ml-3"> PHONE NUMBER</label>
  
              <input type="tel" placeholder="Enter your phone number" class="col-8 ml-3"  name="user_phone" [(ngModel)]="user_phone">
            </div>
  
          </div>
  
          <!-- </div> -->
        </div>
  
        <div class="col-12 border p-2 mt-2">
          <label for="" class="pl-3 bold font-color col-12"> PASSWORD</label>
          <input [type]="hide ? 'password' : 'text'" placeholder="Repeat your password" class=" col-11"  name="user_password" [(ngModel)]="user_password">
          <span class="float-right pointer" (click)="hide = !hide">
            <i class="far fa-eye far-2x"></i>
          </span>
        </div>
        <div class="col-12 border p-2 mt-2">
          <label for="" class="pl-3 bold font-color col-12"> REPEAT PASSWORD</label>
          <input [type]="hide ? 'password' : 'text'" placeholder="Repeat your password" class=" col-11"  name="user_password_confirmation" [(ngModel)]="user_password_confirmation">
          <span class="float-right pointer" (click)="hide = !hide">
            <i class="far fa-eye far-2x"></i>
          </span>
        </div>
  
      </div>
      
      
    </div>
    <div class="col-12">
      <div class="row pt-2">
        <div class="col-3 offset-2">
         
          <a > <span>
            <i class="fas fa-caret-left"></i>
          </span> Back to login</a>
        </div>
        <div class="col-5   ">
          <button type="submit" class="btn  btn-primary btn-lg text-center float-right btn-width">Next</button>
          
        </div>
      </div>
     </div>
  </form>
 
</div>

